!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    %title HoikuPicks
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.8.2/css/all.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{type: "text/javascript", src: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    = yield :css_each_page
    = yield :js_each_page
  %body
    = render 'layouts/header'
    - flash.each do |type, msg|
      %div{class: "alert alert-#{type}"}= msg
    = yield
    = render 'layouts/footer'
